[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AustralianPoliticians"]
	path = AustralianPoliticians
	url = https://github.com/rohanalexander/australianpoliticians
[submodule "heapsofpapers"]
	path = heapsofpapers
	url = https://github.com/rohanalexander/heapsofpapers
